$base-color: #8ACB88;
$offset-base-color: #68cf65;


* {
    font-family: Inter, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;

}




nav {
    width: 100vw;
    background: #192524;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 30px 25px;

    h1 {
        color: $base-color;
        margin-right: auto;

    }

    .login {

        margin: 0;
        border: none;
        color: white;
        background: $base-color;
        font-weight: bold;
        padding: 5px;
    }


}

.App {
    display: flex;
    flex-direction: column;

}

.content {
    align-self: center;
    background: #D9D9D9;
    font-weight: 600;
    color: #2C3142;
    width: 90%;
    margin: 5%;

    h1 {
        text-align: center;



        .header {
            display: flex;
            flex-direction: row;
        }

        padding: 2%;
    }



    .playlists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1%;
        gap: .5%;


    }

    .playlist {
        height: 25vh;
        background: white;
        margin: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 15px;

        .heart {
            height: 90%;
            align-self: center;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;

            .songs-stat {
                display: flex;

                h3 {
                    font-weight: 500;
                }

                .music-note {
                    height: 25px;
                }
            }
        }

        .shuffle-btn {
            margin-left: auto;
            display: flex;

            button {
                height: 25%;
                align-items: center;
                justify-content: center;
                background-color: $base-color;
                border-radius: 7.5px;
                margin-right: 10px;

                img {
                    height: 90%;
                }
            }

            button:hover {
                background-color: $offset-base-color;
            }
        }
    }

}

.playlist-info {
    display: flex;



    img {
        width: 15%;
    }



    .text-stats {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: flex-start;

        .name {
            text-align: left;
            font-size: 56px;
        }

        .followers {
            padding: 2%;
        }
    }
}

.playlist-splitter {
    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;

        .genre-playlists-buttons {
            flex: 3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
        }

        .split-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .split {
                height: 35px;
                width: 100px;
                background-color: $base-color;
                border-radius: 7.5px;
                font-weight: bold;
            }

            .split:hover {
                background-color: $offset-base-color;
            }
        }


    }
}

.genre-playlists-buttons {
    button {
        width: 100%;
        height: 50px;
        font-size: 20px;
        border-radius: 7.5px;

        .song-count {
            overflow-wrap: break-word;
            font-size: 10px;
        }
    }

}