$base-color: #8ACB88;
$offset-base-color: #68cf65;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 850px;
$breakpoint-desktop: 1150px;



* {
    font-family: Inter, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #223122;
}

button {
    border: none;

}

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin login-button {
    margin: 0;
    border: none;
    color: white;
    background: $base-color;
    font-weight: bold;
    padding: 5px;
}

@mixin login-alt {
    @include login-button();
    align-self: center;
    color: black;
    font-weight: bold;
    font-size: 36px;
    border-radius: 100px;
    padding: 30px;
}

@mixin center-child {
    display: flex;
    align-items: center;
    justify-content: center;
}



nav {

    width: 100vw;
    background: #192524;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 30px 25px;

    h1 {
        color: $base-color;
        margin-right: auto;

    }

    .login {

        @include login-button()
    }


}

.App {
    display: flex;
    flex-direction: column;

}

.landing {
    margin: 2.5% 20% 2.5% 20%;
    display: flex;


    .text {
        display: flex;
        flex-direction: column;
        flex: 1;

        h1 {
            font-size: 100px;
            font-weight: bold;
            color: white;
            padding: 0 0 2vh;
        }

        h3 {
            color: $base-color;
            font-size: 30px;
            padding: 0 0 5vh;
        }

        .login-alt {
            @include login-alt()
        }

        .login-link {
            align-self: center;

            .login-button {

                @include login-button();
                color: black;
                font-weight: bold;
                font-size: 36px;
                border-radius: 100px;
                padding: 30px;
            }
        }
    }

    .hero-image {
        flex: 1;
    }

}

.content {
    @include desktop() {
        width: 100%;
    }

    @include mobile() {
        margin: 0;
        border-radius: 0;
        height: 90vh;
    }



    align-self: center;
    background: #D9D9D9;
    font-weight: 600;
    color: #2C3142;
    width: 90%;
    margin: 2.5%;
    border-radius: 25px;
    overflow: auto;
    height: 80vh;

    h1 {
        text-align: center;



        .header {
            display: flex;
            flex-direction: row;
        }

        padding: 2%;
    }



    .playlists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1%;
        gap: .5%;

        grid-auto-columns: auto;

        @include tablet() {
            grid-template-columns: 1fr;
            gap: 0;
        }

        @include mobile() {

            margin: 0;
        }


    }

    .playlist {
        height: 25vh;
        background: white;
        margin: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 15px;
        width: 100%;


        @include desktop() {
            padding: 3px;

        }

        @include mobile() {
            height: 17vh;
            justify-content: space-between;
            margin: 2px 0;
            border-radius: 0;
        }



        .playlist-name {
            @include desktop() {
                font-size: 15px;
            }


        }



        .cover-image {
            max-width: 20vh;
            align-self: center;

            @include desktop() {
                height: 60%;
            }

            @include mobile() {
                flex: 1;
                max-width: 10vh;
            }

        }


        .text {
            @include mobile() {
                flex: 2;
            }

            @include tablet() {
                font-size: large;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;

            .playlist-name .songs-stat {
                display: flex;

                h3 {
                    font-weight: 500;



                    @include mobile() {
                        font-size: small;
                    }
                }

                .music-note {
                    height: 15px;
                }
            }
        }

        .shuffle-btn {
            @include desktop() {
                box-sizing: content-box;
            }

            @include mobile() {
                flex: 1;
                margin-left: 0%;
                margin-right: 0;
            }

            margin-left: auto;
            display: flex;

            button {
                height: 25%;
                align-items: center;
                justify-content: center;
                background-color: $base-color;
                border-radius: 7.5px;
                margin-right: 10px;

                img {
                    height: 90%;
                }
            }

            button:hover {
                background-color: $offset-base-color;
            }
        }


    }

    .created-playlist-messages {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        display: grid;
        justify-items: center;
        /* for horizontal alignment */
        align-items: center;

        .created-playlist-message-link {
            width: 90%;
        }


        .created-playlist-message {
            background: rgb(183, 183, 183);
            // margin: 10px 10px 10px 10px;
            text-align: center;
            width: 25%;
            border-radius: 25px;
            padding: 5px;

            @include mobile() {
                width: 90%;
            }
        }



    }

    .login-page {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 50px;
            font-weight: bolder;

        }

        h2 {
            text-align: center;
        }

        .login {
            // margin: 50px;
            // height: 5rem;
            // width: 10rem;
            // font-size: 20px;
            @include login-alt()
        }


    }
}

.playlist-info {
    display: flex;



    img {
        max-width: 15%;

        @include mobile() {
            max-width: 30%;
        }
    }



    .text-stats {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: flex-start;

        .name {
            text-align: left;
            font-size: 56px;

            @include mobile() {
                font-size: 30px;
            }
        }

        .followers {
            padding: 2%;
        }
    }
}

.playlist-splitter {
    padding: 2%;

    @include mobile() {
        padding: 0;
    }

    .playlist-instructions {
        @include mobile() {
            font-size: medium;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;

        @include mobile() {
            flex-direction: column-reverse;

        }

        .genre-playlists-buttons {
            flex: 3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;

            @include mobile() {
                grid-template-columns: 1fr 1fr;
                gap: 3px;


            }



            button {
                width: 100%;
                height: 50px;

                font-size: 20px;
                border-radius: 7.5px;

                @include mobile() {
                    height: 70px;
                }

                .song-count {
                    overflow-wrap: break-word;
                    font-size: 10px;
                }
            }



        }

        .split-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile() {
                width: 100%;
            }

            .split {
                height: 35px;
                width: 100px;
                background-color: $base-color;
                border-radius: 7.5px;
                font-weight: bold;

                @include mobile() {
                    width: 100%;
                }

            }

            .split:hover {
                background-color: $offset-base-color;
            }
        }


    }
}

.footer {
    margin: 0 20% 0 20%;

    .text {
        display: flex;
    }

    h5 {
        font-weight: 100;
        color: white;
        font-size: 12px;
    }

    .privacy-policy {
        margin-left: auto;
    }
}